.navbar{
    background-color: #F5F853 !important;
}
.nav-link{
    font-weight: bolder;
    color: white;
}
.nav-link:hover{
    background-color: white;
    border-radius: 20px;
}
.navbar-brand{
    font-size: 30px;
    font-weight: bold;
    font-family: sans-serif;
}
.fa-shopping-cart{
    font-size: 30px !important;
    margin-left: 20px;
    margin-right: 40px;
    margin-top: 8px;
}
#cart{
    margin-right: 80px;
}

.row{
    /* background-color: burlywood; */
    margin-top: 20px ;
}
h4{
    text-align: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: 800;
}
.form-check-label{
    width: 100px;
}
.cheffarah, .cheffarhat, .chefsaadat, .chefmubeen{
    /* margin-right: 20px; */
    /* background-color: chartreuse; */
   /* padding-bottom: 30px;
     padding-left: 20px;
    padding-right: 10px; */
    padding: auto;
    /* width: 100%; */
    margin: 20px 30px 20px 30px;
}

#button2{
    width: 200px;
    float: right;
    margin: 30px 30px 30px 30px;
    
}
.fa-arrow-circle-o-up{
    font-size: 30px !important;
    float:right !important;
    color:black;
    padding-right: 50px;
    padding-top: 10px;

}
.last{
    background-color: #F5F853;
     width:100%;
    height:50px;
}
.custombutton{
    /* background-color: bisque; */
    margin-bottom: 5px;
    width: 100%;
    height: 100px;
}













/*---------------------------------------------------------------------------------------------------------*/
/* customized menu */
/* #header1{
    background-color: #F5F853;
    height: 70px;

}
.navbar-brand{
    font-size: 150% ;
    padding-top:10px ;
    padding-left: 20px;
    font-weight: 600;
} */



.form-control{
    width: 60% !important;
    /* margin: 0px 200px 0px 150px; */
    margin-top: auto;
    margin-right: 20%;
    margin-bottom: auto;
    margin-left: 20%;
}
#label1, #label2{
    /* margin: 10px 200px 0px 150px; */
    margin-top: auto;
    margin-right: 20%;
    margin-bottom: auto;
    margin-left: 20%;
}
#label1{
    margin-top: 3%;
    margin-bottom: 1%;
    font-size: large;
}
#form-check1 {
    margin-left: 20%;
    margin-top: 20px;
}
#form-check1 label{
    /* background-color: violet; */
    width: 200px !important;
}



#button1{
    /* background-color: rgb(235, 32, 32);
    border-color:rgb(235, 32, 32); */
    margin-top: 30px;
    margin-left: 20%;
    margin-bottom: 4%;
    font-weight: 700;
    width: 100px !important;
}
#button1:hover{
    background-color: #F5F853;
    
}





.fa-arrow-circle-o-up{
    font-size: 30px !important;
    float:right !important;
    color:black;
    padding-right: 50px;
    padding-top: 10px;

}
.last{
    background-color: #F5F853;

    width:100%;

    height:50px;

}